.vs/

*.obj
*.pdb
*.exe
*.ilk
*.rdi
main
demo

*.txt
benchmarks/

/pax/x64/
/pax/pax

*.i
*.log

a.*
b.*
c.*
d.*

*.idb

tests/*.cpp
tests/bugs.pax

pool_trace.json

bugs.pax
e.pax
f.pax
game.pax